<div class="contenedor-formulario">
    <form action="/contacts/add" method="post" class="form-add">       
        <h2 class="add-contact">Add your contact</h2>  
            <input type="text" name="contact_name" placeholder="Name:" required>
            <input type="text" name="phone_contact" placeholder="Phone: +57 312457895" required>
            <button class="btn-add" type="submit">Add new contact</button>
        </div>
    </form>
</div>