<div class="contenedor-registro">
    <form action="/login" method="post" class="register-form">
        <h3 class="txt-create-account">LogIn</h3>
        <input type="text" name="username" placeholder="username" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit" class="btn-create-account">LogIn</button>
    </form>
</div>