<div class="contenedor-registro">
    <form action="/register" method="post" class="register-form">
        <h3 class="txt-create-account">Create a new account</h3>
        <input type="text" name="fullname" placeholder="fullname" required>
        <input type="text" name="username" placeholder="username" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit" class="btn-create-account">Create account</button>
    </form>
</div>